<div class="container">
	<mat-toolbar class="toolbar" color="primary" style="top: 0;
  position: sticky;
  z-index:99;">
		<button mat-icon-button (click)="sideNav.toggle()">
			<mat-icon>menu</mat-icon>
		</button>
		<h1 class="app-name">{{appName}}</h1>

		<div class="profileIco">
			<div [matMenuTriggerFor]="menu" [ngStyle]="{'background-image':'url(' + 'https://avatars3.githubusercontent.com/u/39296126?s=460&v=4'+ ')'}">
			</div>
		</div>
	</mat-toolbar>
	<mat-menu #menu="matMenu">
		<mat-list style="cursor: pointer; padding: 1em;">
			<div mat-menu-item>
				<mat-icon matListIcon>perm_identity</mat-icon>
				Hi {{name}}
			</div>
			<mat-divider></mat-divider>
			<button (click)="invite()" mat-menu-item>
				<mat-icon matListIcon>person_add</mat-icon>
				Follow developer
			</button>
			<mat-divider></mat-divider>
			<button (click)="signOut()" mat-menu-item routerLink="../login">
				<mat-icon matListIcon>exit_to_app</mat-icon>
				Logout
			</button>
		</mat-list>
	</mat-menu>
	<mat-sidenav-container class="margin-top-content">
		<mat-sidenav class="sidenav" [opened]="mobileQuery.matches ? false: true" #sideNav
		             [fixedInViewport]="true" [fixedTopGap]="55"
		             [mode]="mobileQuery.matches ? 'over' : 'side'">
			<mat-nav-list flex color="primary">
				<ng-template let-menu let-index="index" let-last="last" ngFor [ngForOf]="menuItems">
					<a *ngIf="!mobileQuery.matches" [ngClass]="{'is-active' : rla.isActive,'text-white':!rla.isActive}"
					   routerLinkActive
					   mat-list-item #rla="routerLinkActive" [routerLink]="menu.path">
						<mat-icon matListIcon>{{menu.icon}}</mat-icon>
						<span>{{menu.title}}</span>
					</a>
				</ng-template>
				<ng-template *ngIf="mobileQuery.matches" [ngForOf]="menuItems" let-index="index" let-last="last"
				             let-menu ngFor>
					<a #routerLink="routerLinkActive" (click)="close(sideNav,menu.path)"
					   [ngClass]="{'is-active' : routerLink.isActive,'text-white':!routerLink.isActive}" mat-list-item
					   routerLinkActive>
						<mat-icon matListIcon>{{menu.icon}}</mat-icon>
						<span>{{menu.title}}</span>
					</a>
				</ng-template>
				<a class="mat-list-item logout" routerLink="../login" (click)="signOut()">
					<mat-icon matListIcon>exit_to_app</mat-icon>
					<span>LogOut</span>
				</a>
			</mat-nav-list>
		</mat-sidenav>

		<mat-sidenav-content>
			<mat-progress-bar mode="indeterminate" *ngIf="loading" color="warn"></mat-progress-bar>
			<div style="padding: 5px">
				<router-outlet></router-outlet>
			</div>
		</mat-sidenav-content>
	</mat-sidenav-container>
</div>